*,
*::after,
*::before{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root {
    --margin-top: 20px;  
    --padding: 5px 15px; 
}

body {
    font-weight: bold;
}

h1 {
    background-color: rgba(105, 100, 100, 0.792);
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

button {
    margin-top: var(--margin-top);
    padding: var(--padding);
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 4px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* play container */
.play-container button {
    background-color: hsl(90, 100%, 50%);
}

.play-container #checkChoice {
    display: none;
}

.play-container #categories{
    padding: var(--padding);
    margin-top: var(--margin-top);
    background-color: rgb(186, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: bold;
}

.play-container #letters p{
    display: inline;
    margin-top: var(--margin-top);
    font-size: 1.2rem;
}

.play-container input {
    --margin-top : 30px;
    margin-top: var(--margin-top);
    font-size: 1.2rem;
    width: 20%;
    padding: var(--padding);
    text-align: center;
    border-radius: 10px;
    border: solid;
    font-weight: bold;
}

/* Image section */

.hangman-container #repeatButton{
    background-color: red;
}