*,
*::after,
*::before{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

:root {
    --margin-top: 20px;  
    --padding: 5px 15px; 
}

body {
    font-weight: bold;
}

h1 {
    background-color: rgba(105, 100, 100, 0.792);
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

button {
    margin-top: var(--margin-top);
    padding: var(--padding);
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 4px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(90, 100%, 50%);
}

/* play container */
.play-container #checkLetterButton {
    display: none;
}

.play-container #repeatButton {
    background-color: red;
    display: none;
}

.play-container #categories{
    padding: var(--padding);
    margin-top: var(--margin-top);
    background-color: rgb(186, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: bold;
}

.play-container #letters{
    margin-top: var(--margin-top);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: var(--margin-top);
}

.play-container #letters p{
    font-size: 1.2rem;
    padding-inline: 5px;
    color: transparent;
    border: 3px solid black;
    min-width: 25px;
}
.play-container #letters p{
    background-color: white;
}

.play-container input {
    --margin-top : 30px;
    margin-top: var(--margin-top);
    font-size: 1.2rem;
    width: 20%;
    padding: var(--padding);
    text-align: center;
    border-radius: 10px;
    border: solid;
    font-weight: bold;
    display: none;
}

/* Image section */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}