* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(235, 230, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

h1 {
    text-shadow: 4px 3px 4px rgb(112, 109, 109), -4px -3px 4px rgb(112, 109, 109);
}

.container {
    padding: min(1.5rem, 10vh);
    text-align: center;
    border: double 15px #c8cbcd;
    border-radius: 30px;
    background-color: #f0f8ff;
}

label{
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(247, 0, 255);
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-size: 1.1em;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: solid;
}

button {
    margin-top: 10px;
    font-size: 1.1em;
    padding-inline: 4.5em;
    padding-block: 0.5rem;
    background-color: aqua;
    border-radius: 20px;
}

#repeat{
    background-color: #80ff00;
    display: none;
}

button:hover {
    background-color: rgb(223, 228, 228);
}

p {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(237, 8, 8);
}